/* Default styles for the browser */
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
	font-size: 1rem;
}

h1 {
	font-weight: 1000;
	font-family: 'Optician Sans', sans-serif;
	display: block;
	width: fit-content;
	font-size: 2rem;
	margin-bottom: 10px;
}

 p {
	font-weight: 100;
	font-size: 1rem;
	font-family: 'Poppins';
	margin-bottom: 10px;	
}

header{
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
	font-family: 'Optician Sans', sans-serif;
	background-color: white;
	position: sticky;
	top: 0;
	margin-bottom: 0px;
	z-index: 100;
}

.inner{
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 50px;
    margin-top: 5px;
}

.logo h1 { 
	font-weight: 100;
	font-family: 'Optician Sans', sans-serif;
}

.logo h1 span { 
	font-weight: 1000;
	font-family: 'Optician Sans', sans-serif;
}

#home .logo h1 span { 
	font-weight: 1000;
	font-size: 1.5rem;
	font-family: 'Optician Sans', sans-serif;
}

#home .logo h1 { 
	font-weight: 100;
	font-size: 1.5rem;
	font-family: 'Optician Sans', sans-serif;
}

#home .logo h1, #home .logo p {
    display: inline;
    vertical-align: top;
    line-height: 28px;
}

header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #101010;
}

header nav .button{
    background-color: #1ab26b;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}

.container {
	min-height:100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Home Section*/
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#home {
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url(http://api.openverse.engineering/v1/images/37dbb30b-1be8-4a78-8aa5-2eefd4bb51d7/thumb/);
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

#home::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.7;
	z-index: -1;
}

.homeContainer h1 {
	font-weight: 1000;
	font-family: 'Optician Sans', sans-serif;
	display: block;
	width: fit-content;
	font-size: 2rem;
	position: relative;
	color: black;
}

.homeContainer p {
	font-weight: 100;
	font-size: 1rem;
	font-family: 'Poppins';	
}

/*End of Home Section*/

/*Errors Section*/
#errors .errorsContainer h1{
	margin-top: 150px;
}

#errors .errors{
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#errors .errors-top {
	margin-top: 50px;
}
#errors .errors-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#errors .refractive-error h2 {
	margin-bottom: 10px;
}

#errors .refractive-error p {
	margin-bottom: 20px;
}

#errors .refractive-error:first-child {
	margin-top: 50px;
}

#errors .refractive-error {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-color: #F0F0F0;
	margin: 10px 5%;
	position: relative;
	z-index; 1;
	overflow: hidden;
}

#errors .icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*End of Errors Section*/

/*Surgeries Section*/
#surgeries .surgeriesContainer h1{
	margin-top: 300px;
}

#surgeries .surgeries{
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#surgeries .surgeries-top {
	margin-top: 50px;
}

#surgeries .surgeries-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#surgeries .refractive-surgery h2 {
	margin-bottom: 10px;
}

#surgeries .refractive-surgery p {
	margin-bottom: 20px;
}

#surgeries .refractive-surgery:first-child {
	margin-top: 50px;
}

#surgeries .refractive-surgery {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-color: #F0F0F0;
	margin: 10px 5%;
	position: relative;
	z-index; 1;
	overflow: hidden;
}

#surgeries .icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*End of Surgeries Section*/

/* History Section*/
#history .history-top {
	margin-top: 50px;
}

#history .historyContainer h1{
	margin-top: 300px;
}
#history .history{
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#history .history-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#history .qn p {
	margin-bottom: 10px;
}

#history .qn ul li p {
	display: list-item;
}

#history .qn {
	flex-basis:80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	z-index; 1;
	overflow: hidden;
}

#preferences {
  display: inline-block;
}

#preferences label {
    float: left;
    clear: none;
    display: table;
}

#preferences .qn1{
	float: left;
    clear: none;
    margin: 2px 10px 0 2px;
	margin-left:21px;
}

#preferences .qn2b, #preferences .qn2c{
	float: left;
    clear: none;
    margin: 2px 10px 0 2px;
	margin-left:36px;
}

#preferences .qn4, #preferences .qn5{
	float: left;
    clear: none;
    margin: 2px 10px 0 2px;
	margin-left:27px;
}

#preferences input[type=checkbox], input.checkbox {
	float: left;
    clear: none;
    margin: 2px 20px 0 2px;
	margin-left:36px;
}

#preferences p {
	font-weight: 100;
	font-size: 1rem;
	font-family: 'Poppins';
	display: block;
}
/* End of History Section*/

/*pageNav Section*/
a.next, a.back {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a.next:hover, a.back:hover {
  background: lightslategray;
}

.back, .next {
  background-color: black;
  color: white;
}

.round {
  border-radius: 50%;
}

.pageNav {
   display: flex;
   justify-content: center;
   margin: 10px;
 }
 /*End of pageNav Section*/
